$navy = #002D5C;
h1 > a {
  color: $navy;
  text-transform: capitalize;
  transition: all .2s;
  &:hover {
    &:after {
      content: ' »'  
    }  
  }
  &:visited {
    color: #e0e0e0
  }
}
.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    ul {
      margin: 0;
      padding: .5em;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        &.active{
          font-weight: bold;
          text-decoration: underline;  
        }
        a{
          display: block;
          padding: .6em .95em;
          font-size: .8em;
          color: $navy;
        }
      }
    }
    .brand {
      padding: .8em 1em 1em 1em;
      width: 80px;  
      opacity: .8;
      &:hover {
        opacity: 1; 
        cursor:pointer; 
      }
    }
}

.story-controls{
  li {
    display: inline-block;
    padding: 0 0 0 1em;
    &:first-child {
      padding-left: 0;  
    }
    a {
      padding: .5em;
      text-decoration: underline;
      color: #000;
      font-size: .8em;
      line-height: 1.2em;
      transition: all .3s;
      border-radius: 2px;

      &.tag {
        color: $navy;
        background: #f3f3f3;
        text-decoration: none;
      }

      &:hover {
        color: $navy;
        background-color:#eee;
        text-decoration: none; 
      }
    }
  }    
}
.container {
  max-width: 90rem; 
  &.news-container {
    padding-top: 7rem; 
  } 
}
.page-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: .4em;
}
.button {
  &.button-outline {
    &.sort-control {
      margin-right: 1em;
      color: $navy;
      border-color: $navy;
      height: 2.8rem;
      letter-spacing: .1rem;
      margin-bottom: 0;
      line-height: 2.8rem;
      &.button-active {
        background: $navy;
        color: white;  
      }
    }  
  }
}
.row + hr {
  margin: 2rem 0;  
}
.footer {
  width: 100%;
  padding: 2rem;
  background: $navy;
  color: white;
  font-size: 1.1rem;
  text-align: center; 
  p {
    margin: 0;
  }
}