$navy = #002D5C;
.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    ul {
      margin: 0;
      padding: .5em;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        &.active{
          font-weight: bold;
          text-decoration: underline;  
        }
        a{
          display: block;
          padding: .6em .95em;
          font-size: .8em;
          color: $navy;
        }
      }
    }
    .brand {
      padding: .8em 1em 1em 1em;
      width: 80px;  
      opacity: .8;
      &:hover {
        opacity: 1; 
        cursor:pointer; 
      }
    }
}

.story-controls{
  li {
    display: inline-block;
    padding: 0 0 0 1em;
    &:first-child {
      padding-left: 0;  
    }
    a {
      padding: .5em;
      text-decoration: underline;
      color: #000;
      font-size: .8em;
    }
  }    
}
.container {
  max-width: 90rem;  
}